doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./style.css
  body
    h2 Restablecer contraseña
    p Hola, has solicitado recuperar tu contraseña, haz click en el siguiente enlace el cuál es temporal, si se vence es necesario que vuelvas a solicitarlo nuevamente.
    a(href=`${url}`) Presiona aquí.
