extends ./layouts/layout
block content
  header.masthead
    .container
      .masthead-subheading Bienvenidos a
      .masthead-heading.text-uppercase Web Bicicletas
      a.btn.btn-primary.btn-lg.text-uppercase(href='#bicycles') Ver Bicicletas
  #bicycles.container.mt-5
    h2.display-4.my-5.text-center Bicicletas
