footer.py-4.d-flex.flex-column.flex-lg-row.bg-dark.text-white
  .col-lg-4.text-center Copyright &copy; #{locals.year}
  .col-lg-4.my-3.my-lg-0.text-center
    a.btn.btn-light.btn-social.mx-2(href='#!' aria-label='Twitter')
      i.fab.fa-twitter
    a.btn.btn-light.btn-social.mx-2(href='#!' aria-label='Facebook')
      i.fab.fa-facebook-f
    a.btn.btn-light.btn-social.mx-2(href='#!' aria-label='LinkedIn')
      i.fab.fa-linkedin-in
  .col-lg-4.text-center
    a.link-light.text-decoration-none(href='/') Página Principal
