footer.my-4
  .container
    .row.align-items-center
      .col-lg-4.text-center.text-lg-left Copyright &copy; #{locals.year}
      .col-lg-4.my-3.my-lg-0.text-center
        a.btn.btn-dark.btn-social.mx-2(href='#!' aria-label='Twitter')
          i.fab.fa-twitter
        a.btn.btn-dark.btn-social.mx-2(href='#!' aria-label='Facebook')
          i.fab.fa-facebook-f
        a.btn.btn-dark.btn-social.mx-2(href='#!' aria-label='LinkedIn')
          i.fab.fa-linkedin-in
      .col-lg-4.text-center.text-lg-right
        a.link-dark.text-decoration-none(href='/') Página Principal
