ul.navbar-nav
  li.nav-item
    a.nav-link(href='/dashboard/bicycles', class=(locals.path==='/dashboard/bicycles'?'active':'')) Bicicletas
  li.nav-item
    a.nav-link(href='/dashboard/reserves', class=(locals.path==='/dashboard/reserves'?'active':'')) Reservas
.m-auto
  h6.text-white.mb-0= locals.user.name
a.btn.btn-outline-danger.my-2.my-sm-0(href='/logout', role='button') Cerrar Sesión
