extends ../layouts/auth
block content
  form.form-signin.text-center.shadow-lg(action='/create-account', method='post')
    img.mb-4(src='/images/cycling.png', alt='')
    h3.h3.mb-3.fw-normal #{title}
    .form-floating
      input#name.form-control(type='text', name='name', placeholder='Ingresar nombre')
      label(for='name') Nombre
    .form-floating
      input#email.form-control(type='text', name='email', placeholder='Ingresar correo')
      label(for='email') Correo
    .form-floating
      input#password.form-control(type='password', name='password', placeholder='Ingresar contrase単a')
      label(for='password') Contrase単a
    .form-floating.mb-3
      input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Ingresar contrase単a nuevamente')
      label(for='confirmPassword') Confirmar contrase単a
    button.btn.btn-primary.btn-lg.w-100(type='submit') Crear Cuenta
    .pt-2
      a.float-start.text-decoration-none(href='/') Volver a inicio
      a.float-end.text-decoration-none(href='/login') Volver a login
    p.mt-5.mb-3.text-muted &copy; #{year}
