extends ../layouts/auth
block content
  form.form-signin.text-center.shadow-lg(action='/forgot-password', method='post')
    img.mb-4(src='/images/cycling.png', alt='')
    h3.h3.mb-3.fw-normal #{title}
    .form-floating.mb-3
      input#email.form-control(type='text', name='email', placeholder='Ingresar correo.')
      label(for='email') Correo
    button.btn.btn-primary.btn-lg.w-100(type='submit') Recuperar contraseña
    .pt-2
      a.float-start.text-decoration-none(href='/') Volver a inicio
      a.float-end.text-decoration-none(href='/login') Volver a login
    p.text-muted.mt-5.mb-3 &copy; #{locals.year}
