extends ../layouts/auth
block content
  form.form-signin.text-center.shadow-lg(action='/login', method='post')
    img.mb-4(src='/images/cycling.png', alt='')
    h3.h3.mb-3.fw-normal #{title}
    .form-floating
      input#email.form-control(type='text', name='email', placeholder='Ingresar correo.')
      label(for='email') Correo
    .form-floating.mb-3
      input#password.form-control(type='password', name='password', placeholder='Ingresar contraseña.')
      label(for='password') Contraseña
    button.btn.btn-primary.btn-lg.w-100(type='submit') Iniciar sesi&oacute;n
    .d-flex.justify-content-end
      a.lead.mx-1(href='/facebook')
        i.fab.fa-facebook-square
      a.lead.mx-1.text-danger(href="/google")
        i.fab.fa-google-plus-square
    .pt-1
      a.float-start.text-decoration-none(href='/') Volver a inicio
      a.float-end.text-decoration-none(href='/create-account') Crear cuenta
    .pt-3
      a.text-decoration-none.d-block.my-2(href='/forgot-password') ¿Olvidé contraseña?
    p.mt-2.mb-3.text-muted &copy; #{year}
