extends ../layouts/auth
block content
  - const errors = messages.errors || null
  form.form-signin.text-center.shadow-lg(action=`/reset-password/${token}`, method='post')
    img.mb-4(src='/images/cycling.png', alt='')
    h3.h3.mb-3.fw-normal #{title}
    .form-floating
      input#password.form-control(type='password', name='password', placeholder='Ingresar password')
      label(for='password') Contraseña
      if errors
        p.form-text.my-0.text-danger.text-center
          = errors[0].password
    .form-floating.mb-3
      input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Ingresar password nuevamente')
      label(for='confirmPassword') Confirmar contraseña
      if errors
        p.form-text.my-0.text-danger.text-center
          = errors[0].confirmPassword
    button.btn.btn-primary.btn-lg.w-100(type='submit') Guardar nueva contraseña
    .pt-2
      a.float-start.text-decoration-none(href='/') Volver a inicio
      a.float-end.text-decoration-none(href='/login') Volver a login
    p.text-muted.mt-5.mb-3 &copy; #{locals.year}
